[2019-11-11 10:44] yumoraby opened #2 "Error in LoginView"
Following the code for LoginView has several errors:

- returns an error for {spinner} I believe it should be {this.spinner}
- CView & Spinner are they valid components? If so where are they imported from?
- Navigate to this component yields not action in React Native with Expo SDK 35

[code]

[2019-11-13 03:24] GSingh01 commented on #2
Yes it should be this.spinner.

Further, the sample code serves the purpose of just illustrating the properties and copy paste will not work.

Spinner and CView are custom components.In your case, Spinner can be replaced with any loading symbol you wish to use and CView is just a wrapper around React Native's View.

I am personally using this library and haven't encountered the error you mentioned

[2019-11-13 03:39] yumoraby commented on #2
Thanks for the response:)

Will update and try again. Are you using Expo?

[2019-11-13 06:08] GSingh01 commented on #2
yes i use expo. i made few more updates to docs related to peer dependencies requirements. please check again.

[2019-11-27 17:50] #2 closed

[2019-12-12 11:15] lemusthelroy opened #3 "TS Error - Could not find a declaration file for module 'ad-b2c-react-native'"
When using below import...

`import { LoginView } from 'ad-b2c-react-native';`

I am getting the following error when using Typescript.

"Could not find a declaration file for module 'ad-b2c-react-native'."... "implicitly has an 'any' type.
  Try `npm install @types/ad-b2c-react-native` if it exists or add a new declaration (.d.ts) file containing `declare module 'ad-b2c-react-native';"

Is there

[2019-12-12 16:04] GSingh01 commented on #3
Thanks for posting the issue.
The issue is due to no type info for the module.

A Google search revealed me the following and it should resolve your issue: https://stackoverflow.com/questions/41292559/could-not-find-a-declaration-file-for-module-module-name-path-to-module-nam

Thanks

[2019-12-13 16:16] GSingh01 commented on #3
@lemusthelroy, let me know if you were able to resolve using above. :)

Thanks

[2019-12-13 16:25] #3 closed

[2019-12-15 01:26] GSingh01 opened #4 "Token is not refreshed upon expiry"
error: The supplied grant_type [authorization_code] and token_type [RefreshToken] combination is not supported

[2019-12-16 00:00] #4 closed

[2019-12-17 09:11] CBZakaria opened #5 "Hi i would to have full example of the implementation, i'm new to React-Native, React and Azure Active Directory B2C"

[2019-12-22 01:28] GSingh01 commented on #5
Hello CBZakaria, In the link below you can find some info about AD B2C and its setup.
https://medium.com/@sambowenhughes/how-to-setup-active-directory-b2c-in-microsoft-azure-766f301e28e

But for detailed info, please research online. Sorry, currently  don't have time to write a blog post. Having said that i would welcome any blog post from community tagged to this question.

Thanks :)

[2019-12-22 01:29] #5 closed

[2020-01-07 15:05] daphnesmit opened #6 "Reset password flow fails due to incorrect policy"
Hi!

I tried to implement your solution to safe myself a lot of time but I am running into issues with the LoginView. I get my login screen webview to come up, but when I press 'password reset' or I press  the login button; the onNavigationStateChange function is never called.

the onShouldStartLoadWithRequest returns as result the following.
which will make it stop loading and return false.
Shoul

[2020-01-08 04:21] GSingh01 commented on #6
Hello,

Thanks for reporting issue.  OnNavigationState change should automatically be handled for you. If you are passing a custom onNavigationStateChange or onShouldStartLoadWithRequest, they will be overwritten by the library implementation.

For password reset, user should be able to click on password reset and then rest of the flow should be handled with in the webview. Once the flow is finish

[2020-01-13 01:42] GSingh01 commented on #6
@daphnesmit Issue is fixed, please update to the 1.1.1 and setup according to previous comment and docs.

[2020-01-13 01:42] #6 closed

[2020-01-13 08:48] daphnesmit commented on #6
THANKS  a lot! im gonna check it out:D

[2020-01-13 16:42] GSingh01 commented on #6
@daphnesmit remember to use onSuccess and onFail for handling auth. Let me know how it goes.
Thanks

[2020-01-22 11:19] flieks opened #7 "ios support"
Hi @GSingh01,

Thanks for your lib, very interesting. Some small questions:

Does this work properly on IOS too ?
Does the user notice its a web view or are there long white screens in between page loads ?
What is difference with this [lib](https://github.com/wkh237/react-native-azure-ad)? It doesnt seem to be maintained though

Can you check my thread here ? Maybe you can provide your library the

[2020-01-26 01:01] GSingh01 commented on #7
@flieks Thanks for the interest in package.
Following are answers to your query:

1. It should work with any device where react native and react-native-webview can work. Feel free to create an issue if it doesn't.
2. I have not noticed any long white screens. Plus you can pass your loading component while page is loading(Check docs for **renderLoading** prop). Also you can pass almost all props of

[2020-01-28 13:37] AttilaBre opened #8 "redirectURI="myRedirectURI""
After implementation of Deep Linking redirect not working. First I can't add myapp:// to azure application properties. What is proper way to get redirect uri?

[2020-01-28 16:46] GSingh01 commented on #8
@AttilaBre
If you are using expo 33 or above you should not need to link anything but other wise follow https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md for React Native webview setup.

For redirect url and ad b2c setup, check: https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=applications. Reply url in

[2020-01-28 16:49] GSingh01 commented on #7
@flieks do you have more concerns else please close the issue

[2020-01-28 19:07] flieks commented on #7
This is very interesting and positive info from you. Thanks alot for all the hard work.

Especially that we dont need to eject EXPO is super nice. Problem is there now browser navigation and it doesnt come back correctly. I have to press reload on browser and then it returns to the app.

I will definitely try it in a few weeks when we need to extend our mobile companion app.

[2020-01-28 20:22] GSingh01 commented on #7
@flieks
For your issue, make sure that you dont use the url that is registered in your app for redirect.  The package's Webview listens on reply/redirect URL via redirect prop of LoginView component and if your app listens on same it will be a conflict.
If you need to have redirect url registered for your app for some other reason than auth then I will suggest to change the reply url in adb2c sett

[2020-01-29 11:44] AttilaBre commented on #8
I get 404, and I know data are ok and application is working because I try to connect to existing one.
What is Redirect URI for my application?

[2020-01-29 12:53] AttilaBre commented on #8
Problem is solved build of link uri is not build good.

[2020-01-29 18:05] GSingh01 commented on #8
@AttilaBre can you elaborate on the previous comment. Do you mean something in package is wrong or was mistake on your side. Also if issue is solved please close the issue.

[2020-01-30 10:11] AttilaBre commented on #8
When I test everything if I found some problem I will make report

[2020-01-30 10:11] #8 closed

[2020-02-19 21:55] michaelfsarkis opened #9 "Using Resource Owner Password Credential"
Hi,
I am quite interested in using the solution provided for my react native app.

However, my situation is a bit unique, where the company is quite pedantic about the usability of the application. They are not happy with redirecting the user to a system browser. Instead, they prefer the user to enter the username and password through the application screen, so the authentication process occurs in

[2020-02-20 02:00] GSingh01 commented on #9
Thanks for the comment. You can check link below (from another popular auth solution provider) and have a discussion within your team if you still want to go with Native screen:

https://auth0.com/docs/design/browser-based-vs-native-experience-on-mobile

If yes then you have to work with AD B2C API directly to get desired results. This lib might not be right for that 

I personally feel browser ba

[2020-02-20 02:46] michaelfsarkis commented on #9
Many thanks for the quick prompt reply :)
I will try to push back and see how that goes

[2020-02-20 02:46] #9 closed

[2020-03-18 22:04] barranger opened #10 "no way of adding client_secret"
I'm running into the following error message and don't have a way of specifying the `client_secret`

[code]

Any help would be greatly appreciated

[2020-03-18 22:24] GSingh01 commented on #10
Thanks for commenting. Client secret suppose to be a secret and should never be added on client side application. They are usually for backend to auth service communication.

Since the LoginView doesnot require it and none of the documented methods requires that, What are you tryng to do exactly?

[2020-03-18 22:40] barranger commented on #10
Thanks for the quick reply!

I'm trying to log in and get the Auth Token.  It brings up the login page, and allows for the first login, but then will fail with the above message.  When I re-launch the app it goes right to the Error.

Here's my LoginView Element (with info removed of course):

[code]

I was able to use a [different lib](https://github.com/sonyarouje/react-native-ad-b2c) to get the

[2020-03-19 00:04] GSingh01 commented on #10
Given that you recently got the token and is not expired it should not call the auth service for new token unless user logged out. Please verify the way  library is used or create a sample app to reproduce so that I can take a look.

Also please carefully look at docs again for correct implementation, since it should not require client secret in first place in any of the calls made.

[2020-03-19 00:13] GSingh01 commented on #10
Also please make sure your App ID is registered as native app not web app in Azure B2C portal

[2020-03-19 14:42] barranger commented on #10
Thank you very much it was your second comment, I needed to create a new App Registration that was specific for the Mobile Application.

Marking as closed

[2020-03-19 14:42] #10 closed

[2020-04-05 16:11] sanket-t-shah opened #11 "Not able to find how to create redirectURI"
How to create redirectURI for react-native app built via Expo that is common to both iOS and Android?

[2020-04-05 21:31] GSingh01 commented on #11
Thanks for your query.

The redirect URI required for Login is not your app's redirect uri used by native code to reopen the app.

Create any global unique identifier to provide it in Azure AD portal configs and use the same in Login component. This redirect URI should be separate from your regular app's redirect URI otherwise it might create problems.

[2020-04-06 08:49] sanket-t-shah commented on #11
Can you please give an example of the same as am not able to follow your response? Here is what I've right now.

[code]

[code]

[code]

[2020-04-09 03:09] stevef51 opened #13 "Expo signin to our tenant works once"
First up - RN is pretty new to me, but loving it
Second - I am finding help on Azure B2C with RN is extremely limited, this is by far the most helpful utility out there
I have taken your sample Login component and plugged in my tenant details ..

      <LoginView
        appId="7f0ce0c1-32a5-418a-b3e5-a240b6c9305c"
        redirectURI="https://jwt.ms"
        tenant="smartarmour"
        loginPoli

[2020-04-10 05:37] GSingh01 commented on #13
@stevef51 please update to latest version 1.1.2

[2020-04-10 05:39] GSingh01 commented on #11
@sanket-t-shah if the issue is solved please close it

[2020-04-11 13:05] stevef51 commented on #13
Thanks - as it turned out, I decided to port your JS code to TypeScript, a) to give me better intellisense and b) it forced me into actually understanding what your library was doing.
As it turned out the changes in your 1.1.2 are 99% same as the fixes I came up with which is good - you should also note that the WebView event "onNavigationStateChangeAsync" gets called twice for each navigation, on

[2020-04-11 18:11] GSingh01 commented on #13
@stevef51  thats awesome,please feel free to create a PR with the change.
Also1.1.2 has incognito mode and user agent added by default and are overridable.

[2020-04-12 03:26] stevef51 commented on #13
@GSingh01 Ok, I have spent this whole morning attempting to prepare for a PR, the big part of the change is the porting to TypeScript - although my tiny App runs fine with the port the Jest tests fail miserably (all of them I think) - not quite up to speed on npm, typescript, expo, jest etc in order to address this currently - the only change I think you would be interested in for the JS source is

[2020-04-12 21:10] GSingh01 commented on #13
@stevef51 thanks, i will make that edit in future. But for now one should be able to use library as is. If you agree please close the issue

[2020-04-16 00:13] #11 closed

[2020-04-16 00:14] #13 closed

[2020-04-18 21:09] nmehlei opened #14 "Create Typescript typings"
It would definitely make it easier to use this library if there were Typescript typings available. It would have probably avoided ticket #3 . Unfortunately, currently, I don't have the extra spare time, otherwise, I would've volunteered to create them myself.

[2020-04-18 21:23] GSingh01 commented on #14
Hello nmehlei,  agree but were you able to get past the issue using suggestions in #3

[2020-04-18 21:44] nmehlei commented on #14
@GSingh01 Still in progress, I used the following lines for now:
const AdB2cReactNative = require('ad-b2c-react-native');
var LoginView = AdB2cReactNative.LoginView;

I'm currently stuck at a different point: Is this project tightly coupled to expo-secure-store? As I did not include expo during project creation, this is currently blocking my auth integration. Can a different store be used instead

[2020-04-18 23:07] GSingh01 commented on #14
@nmehlei no its not tightly coupled to expo-secure-store but from readme file below are the comments:

      //for secureStore, you can pass expo's secure store or create your own wrapper,
      //which implements deleteItemAsync(key), getItemAsync(key), setItemAsync(key, data)

So in this case you have to create your own store for deleteItemAsync(key), getItemAsync(key), setItemAsync(key, data) t

[2020-04-18 23:48] nmehlei commented on #14
@GSingh01 Thank you for your quick responses! And I must have completely missed that comment. I built the following wrapper around react-native-community/async-storage.

[code]

During quick tests, this class seems to work. Unfortunately, the overall ad-b2c integration currently only shows a quick loading spinner and then a white screen without any errors or warnings. Probably I'm still missing so

[2020-04-19 00:49] nmehlei commented on #14
@GSingh01 That's true, but at least in my case that does not seem to be enough. The handlers for onSuccess, onFail as well as renderLoading are set but only renderLoading is invoked.

Basically the execution that I can observe from logging is as follows:
1) renderLoading
2) my secure store wrapper for key tokenType
3) my secure store wrapper for key accessToken
4) my secure store wrapper for key r

[2020-04-19 01:49] GSingh01 commented on #14
@nmehlei library expects that if login url is wrong then browser page will show page not found error etc. Based on above looks like it didnot happen to you and came back with a blank page.
Can you try that incorrect url in indepent browser and check if you get simular blank screen.

[2020-04-19 10:13] nmehlei commented on #14
@GSingh01 I understand. I just tested the generated URL and since it results in something like myTenantName.onmicrosoft.com.b2clogin.com, which fails with an SSL certificate error and an understandable 404 response. I assume that the SSL certificate error might be the reason why it only shows the blank page.

[2020-04-22 11:01] michaelfsarkis opened #15 "Configuring Scope when acquiring the tokens"
Hi there,
I have managed to install and set up a POC with my app using your solution. And everything looks amazing.

However, I am now stuck with specifying the scope. I notice in the ADService, you are setting a default value as : ``${this.appId} offline_access`` . This would not work as expected, because scope values would usually be a URL string.
Not adding a scope leads to an error for Invalid

[2020-04-22 18:30] GSingh01 commented on #15
@michaelfsarkis yes it is a valid bug, Thanks for noticing that. i will edit it to encode app id, plus will also allow to overwrite it.

[2020-04-22 22:28] michaelfsarkis commented on #15
Thanks for the quick response.

I believe the "appId" is the application GUID. Therefore, correct me if I am wrong, the  formula ``${this.appId} offline_access`` will not result into a URL (as the formula does not have a URL structure)?
Would you have an ETA on when that could be fixed ? Many thanks

[2020-04-23 00:02] GSingh01 commented on #15
yes  appId is GUID can never be a url. Its your ad b2C apps's ID created in Azure adb2c dashboard and is required according to documentation.
 Since fetching, refreshing a token is handled by library i am curious why URL structure is required for this?
Sorry I am trying to understand your request

[2020-04-23 02:14] michaelfsarkis commented on #15
In the ADService component, the scope value is defined as blow:

```this.scope = encodeURI(`${this.appId} offline_access`);```  which will render as something like this:

However scope value is expected to be a URL. I have tried the below and it worked:
```this.scope = "https://abcdefgh.onmicrosoft.com/the_app_name/user_impersonation```
You need to use the scope value not the scope name to work

H

[2020-04-23 03:41] GSingh01 commented on #15
Yes I am working on it and will push the change by tomorrow.

[2020-04-23 23:28] GSingh01 commented on #15
@michaelfsarkis Canyou please confirm, if in ad b2c dashboardyou have selected your app as native client and not as web API because the scope with urls are for Web APIs and not for native client.

[2020-04-24 05:09] GSingh01 commented on #15
@michaelfsarkis Please verify 1.1.3 and close the issue :)

[2020-04-27 00:13] michaelfsarkis commented on #15
Hi mate. This works now exactly as expected .

Thanks heaps!

[2020-04-28 09:32] michaelfsarkis commented on #15
Hi mate,
Encoding the scope uri  seems to be causing a problem

Please change the code below :

[code]

to the following:

[code]

[2020-04-28 17:19] GSingh01 commented on #15
Hello @michaelfsarkis
Based on doc https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens , scope should be url encoded. Can you double verify. When I tried on my side it worked with custom scopes without issue

[2020-04-29 04:21] michaelfsarkis commented on #15
Hello @GSingh01
I did not have a chance to fully debug it. However, I noticed that when the scope URI is encoded, i still get authenticated. However, the package fails to save the token, and any subsequent calls fail.
Removing the encodeURI for the scope worked fine.
Hopefully, I will have some time this weekend to debug more

[2020-04-29 08:41] michaelfsarkis commented on #15
Hello @GSingh01
I will take this back then. The issue seems to be tricky a bit.
Some how when I include a scope, the response I receive does not have id_token or refresh_token
(and that's where the package fail to save values for those tokens in the secure storage).

Any thoughts

[2020-04-29 17:49] GSingh01 commented on #15
@michaelfsarkis  this is mentioned in doc
[code]
hope this resolves the issue

[2020-04-29 22:25] michaelfsarkis commented on #15
@GSingh01 , You nailed it mate!

[2020-04-29 22:25] #15 closed

[2020-05-15 14:52] inexplicable01 opened #16 "Where is the client_secret handled?"
Hi, Looking to implement your package in my react native app for B2C sign in.

How does this package handle the client_secret?  It doesn't appear to be in here or am I missing something?

Thanks.

I will be more than glad to contribute also if it is indeed missing.

[2020-05-15 16:41] GSingh01 commented on #16
Hello @inexplicable01  thanks for the question. Client secret is only required when one need to authenticate on backend api or in short api -> auth api. On client apps one should never use client secret as it is not secure to expose it on client app.Further it will defy the whole purpose of username and password.

Please make sure you create you app as Native client in Azure AD B2C portal and then

[2020-05-15 18:38] inexplicable01 commented on #16
Hi Thank you so much for your reply.   Definitely am learning a lot here.

So all the Webapi needs for authentication is the token from B2C.   Thanks again.

[2020-05-15 19:05] GSingh01 commented on #16
@inexplicable01  yes, your web api should consume and validate the access_token(not id token) that you get in your app using this package(or another).
my pleasure man. Thanks

[2020-06-02 16:10] autumnblue commented on #2
how can I use this expo-secure-store package in non-expo run app?

[2020-06-02 20:03] #16 closed

[2020-06-02 20:05] GSingh01 commented on #2
Please refer to https://www.npmjs.com/package/expo-secure-store or else you can roll your own implementation based on info provided in readme.
Hope this helps

[2020-06-05 04:02] michaelfsarkis opened #17 "Error on login: Array Methods must be provided an Array"
Hi,

 I am receiving this error after successful logging in.
 I believe the error is coming from the method: _setTokenDataAsync
The promise.all inputs are not within an array in the package. I think the inputs in the promise need to be containes in an array as below
[code]

[2020-06-05 20:23] GSingh01 commented on #17
@michaelfsarkis Thanks for reporting issue.
Are you using a custom scope if yes make sure you have openid offline_access inaddition to custom scopes.
For more info check out the comment related in readme.txt

Let me know if this resolves your issue.

Thanks

[2020-06-05 21:41] GSingh01 commented on #17
@michaelfsarkis  to add your suggestion above makes sense so i have new change pushed please check the release 1.1.4. hopefully that resolves your issue
Thanks again for letting me know. Appreciated 👍

[2020-06-07 07:21] michaelfsarkis commented on #17
Thanks mate.
Working well now :)

[2020-06-07 07:21] #17 closed

[2020-06-26 21:36] manosamy opened #18 "change in auth url?"
Code is creating a url
`https://${this.tenant}.b2clogin.com/${this.tenant}.onmicrosoft.com/${policy}/oauth2/v2.0/authorize?client_id=${this.appId}&response_type=code&redirect_uri=${this.redirectURI}&response_mode=query&scope=${this.scope}`

But Azure b2c is now expecting this url (for a newly created b2c directory as of 6/26/2020)?

`https://${this.tenantName}.b2clogin.com/${this.tenantName}/oauth

[2020-06-26 22:29] manosamy commented on #18
never mind, the original url generated by your library works too, as long as I pass the tenant name not the guid for the "tenant" property.

[2020-06-26 22:29] #18 closed

[2020-07-06 19:08] nmehlei opened #19 "Error popup after seemingly successful login"
I've set up everything in the plugin and Azure AD B2C with enabled social logins for Microsoft and Google. Everything looks good, I can login, have to do MFC for Microsoft/Google but when I then get redirected back I get an error dialog with the text: `AADB2C90079: Clients must send a client_secret when redeeming a confidential grant. ...`. A client_secret is not being used while using this plugin

[2020-07-06 19:19] nmehlei commented on #19
The solution for this was to create the application in Azure B2C as an SPA and not as Web.

[2020-07-06 19:19] #19 closed

[2020-07-08 17:59] nmehlei opened #20 "Allow to sign-in with existing local sign-ins"
Usually, the user will always be already signed-in on at least some of the social providers (Google, Facebook, Apple, ...) at the time the sign-in page is shown by this plugin, but he still has to enter both mail address as well as password again. I'm assuming this is a technical restriction (probably due to the usage of a web view), but is this something that can be solved in a different way or i

[2020-09-06 19:45] GSingh01 commented on #20
@nmehlei Sorry for replying too late and  yes you are correct, currently unaware of way to handle it.
But note that after initial login with offline access, library stores the token in secure store so user don't have to login again and again.

But i agree it is not seamless across all apps. I also feel it is little secure too(my personal thoughts) since this way you can keep your logins separate f

[2020-09-10 12:43] IvanKalachev opened #22 "Problem with google singin on iOS"
Hello

I am using the library for a project where the user can login with email and with a google account. The version for android is working perfectly. Now I am working on iOS version and the google login doesn't work. It stuck on a white screen after the google login process and never call onSuccess method. No errors returned from the web view. Any ideas where is the problem?

[code]
Info.plist

[2020-09-10 17:18] michaelburch commented on #22
I had this same problem. Google login seems to redirect twice,  the first causes the onShouldStartLoadWithRequest method in LoginView to return false and stop loading, so it never actually processes the access token request.

I was able to work around it by doing the following:

1. Update LoginView.js to allow overriding that method
`return (
      <WebView ...
onShouldStartLoadWithRequest={this.p

[2020-09-10 19:00] michaelburch commented on #22
This might be a better option, and works for me with both google and twitter login:

LoginView.js
`onShouldStartLoadWithRequest(navState) {
    const result = adService.getLoginFlowResult(navState.url);
    if (
      result.requestType === RequestType.Ignore ||
      result.requestType === RequestType.Code && !navState.loading ||
      result.requestType === RequestType.PasswordReset ||
      res

[2020-09-11 08:21] IvanKalachev commented on #22
No one of the above suggestions worked :(

[2020-09-11 15:53] michaelburch commented on #22
did you also update the user agent string? That was the first problem I encountered

[2020-09-11 21:10] GSingh01 commented on #22
@michaelburch and @IvanKalachev Thanks for bringing that up.  I will try to test again with IOS and try to incorporate your suggestion to the library.
Again you are also most welcome to submit a PR with the above change :)

[2020-09-11 21:28] michaelburch commented on #22
thanks @GSingh01 ! I submitted PR #23 after some additional testing. I have a fairly complete sample app working now that I will share soon. Thanks for this great library!

[2020-09-11 23:04] GSingh01 commented on #22
@michaelburch thanks alot for PR.

[2020-09-12 04:46] GSingh01 commented on #22
@michaelburch  Your changes are released, please install 1.1.5 and verify if it works as expected on ios and android. Feel free to close once tested

[2020-09-12 04:47] GSingh01 commented on #22
@IvanKalachev can you please verify with latest 1.1.5 release

[2020-09-14 06:43] IvanKalachev commented on #22
Not working with the latest version (1.1.5) - again white screen after google login process. Can somebody share a simple working project? I suppose that the problem is in my project (iOS) settings.

[2020-09-14 15:09] michaelburch commented on #22
@IvanKalachev I'll share my working project ASAP. In the mean time, I suspect there's a problem with your redirectURI. I had problems with google login on iOS with any redirectURI that didn't start with https

[2020-09-15 22:14] michaelburch commented on #22
I've confirmed that Google login works with the latest release on both Android and iOS.

@IvanKalachev I created a sample app that you can use for reference:
https://github.com/michaelburch/react-native-aad-b2c-sample

[2020-09-24 11:56] IvanKalachev commented on #22
Everything is working fine. Thanks!

[2020-09-24 11:56] #22 closed

[2020-11-08 12:34] chandana-2019 opened #24 "Error on Login : res.expires_on"
Hi @GSingh01 ,

I am receiving this error after logging in

![B2c_Image](https://user-images.githubusercontent.com/53889546/98464562-c750f400-21e9-11eb-9029-2650d3d486a7.png)

 **undefined is not an object(evaluating 'res.expires_on......')**

Below is the code :

onLogin = async () => {
        try {
          const credentials = await SecureStore.getItemAsync('key');
          console.log('value

[2020-11-12 12:07] albin-joseph-wiznet opened #25 "Error on Login but works after on reload only while using custom scope"
Error on Login but works after reload,  error occurs only while using custom scope.

**ERROR SAYS:-**
**"Invalid value provided to SecureStore. Values must be strings; consider JSON-encoding your values if they are serializable."**

-1st time execution"onFail={this.onFail}" (ON CUSTOM SCOPE)
-2nd time execution "onSuccess={this.onLogin}" (On RELOAD)

**EXPECTED:-**
-1st time execution "onSuccess={

[2020-11-25 13:33] radheaki opened #26 "Buttons not Working for Edit userflow in IOS"
Hi @GSingh01

While We open the EditFlow and Click on Cancel button the Editflow not getting closed while freezes at the the EditView itself ,but working fine for android.
So I updated onShouldStartLoadWithRequest and added some code
             if(....result.requestType === RequestType.Ignore .....){ .... this.webView.stopLoading()
//for  fix
       if(Platform.OS === 'ios'){

[2020-12-03 16:30] sdinesmvc opened #27 "Azure ADB2C in to the react native mobile application using expo cli - in login facing File or directory not found error"
I like to develop react native mobile application using expo cli. regarding that i integrate authenticate using azure adb2c.
in login 404 file or directory not found error Please find the configuration below and error screenshot
 <LoginView
                appId="334b4043-d862-4911-9bf3-f1caa5d12f8f"
              redirectURI=""
               tenant="myapp1"
               loginPolicy="B2C_1_sign

[2020-12-04 11:29] sdinesmvc commented on #27
@GSingh01  How to expo react native project redirecturi in application and azure portal. Please help me.

[2020-12-12 20:39] GSingh01 commented on #27
@sdinesmvc sorry for late reply, i did not get time to pay attention to project past couple of months.
Please check the closed issues that are tagged as question, e.g: https://github.com/GSingh01/ad-b2c-react-native/issues/11

I hope it helps.

Thanks

[2020-12-12 20:45] GSingh01 commented on #26
@radheaki Please make sure you have latest version.
But if the above solution works ya go ahead, I will also look in to it but that will take some time. Currently its little hard for me to devote extra time for the package but updates will coming in near future hopefully.

Thanks

[2020-12-12 20:48] GSingh01 commented on #25
@albin-joseph-wiznet make sure your scope is specified like `openid offline_access {your scope}` . This also mentioned in docs. Further read https://github.com/GSingh01/ad-b2c-react-native/issues/15 for more info.

Thanks

[2020-12-12 20:59] GSingh01 commented on #24
@chandana-2019 Docs mentions this about secure store:
[code]
So based on above either install expo-secure-store or write your own module that have mentioned methods.
Further check https://github.com/GSingh01/ad-b2c-react-native/issues/2 for discussion on similar topic.

Thanks

[2021-01-16 12:29] arv-devperson opened #28 "Erorr when integrating the package into an ejected react-native app with typescript"
After Installing the ad-b2c-react-native package with the dependencies mentioned in the documentation I am getting the following error:

ERROR    Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

I got inspiration from https://github.com/michaelburch repo who has implemented a sample project using ad-b2c-rea

[2021-01-17 12:14] stefanab commented on #26
I'm experiencing the same issue with `passwordResetPolicy`. Had to had add `currentUri` to make it work.

      `onShouldStartLoadWithRequest(navState) {
        const result = adService.getLoginFlowResult(navState.url);
        if (
          result.requestType === RequestType.Ignore ||
          result.requestType === RequestType.Code && !navState.loading ||
          result.requestType === Requ

[2021-01-18 11:57] #28 closed

[2021-01-24 22:48] joeybronner opened #29 "Links "password reset" & "create account" not clickable on Android"
Hi,

My form username / password was ok but all the others links were not clickable, especially: "password reset" & "create account". After removing `this.webView.stopLoading();` in the `onShouldStartLoadWithRequest` function, it worked as expected.

PS : this issue only happens on Android.

I thought it might help someone later ;)

Best,
Joey

[2021-01-27 01:05] kkhanhluu commented on #28
@arv-devperson did you get the solution?

[2021-02-01 17:54] arv-devperson commented on #28
Yes I did. I ended up using an older version of web-view than stated in the documentation

[2021-02-18 13:49] sultan-arshi opened #30 "custom policies, extraQueryParameters and help in Redirect URI"
i am trying to make some `custom policies`, is it possible to use it with this lib ?

[2021-02-19 18:35] ocasiom commented on #24
I also hit this issue and found that B2C is no longer using "expiresOn" as the key for the token expiration. In my case I am getting "id_token_expires_in" and "refresh_token_expires_in" which causes the "undefined is not an object (evaluating 'res.expires_on.toString')"

[2021-02-20 19:57] GSingh01 commented on #24
@ocasiom based on documentation here https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens it seems it is using expires_on please verify

[2021-02-20 20:00] GSingh01 commented on #30
Library allows you to specify your policy names as follows. Further check readme for more info
[code]

[2021-02-23 06:38] ManishK-Patona opened #31 "redirectURI"
What would be the redirectURI?

[2021-02-23 07:12] #31 closed

[2021-02-23 12:37] sultan-arshi commented on #30
thanks for the reply
i have almost done but getting white screen even have provided all correct information
one thing that may be incorrect is `scope`
basically i have made a scope in the `expose api` and have added it in the `api permission` and my application also have both permissions `openid` and `offline_access`
how could i use it in the scope ?
for now i am using
`scope={"openid offline_acce

[2021-02-24 04:54] eswarant opened #32 "Jest encountered an unexpected token"
I am getting this error when run test file. Please help me on this.

Jest encountered an unexpected token.
This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignoring "node_modules".

    Here's what you can do:
     • To have some of your "node_modu

[2021-02-24 13:11] sultan-arshi commented on #30
i append `extraQueryParameters` in the URL in the lib and it loaded my custom pages but now i am getting the error blow

`{"canGoBack": false, "canGoForward": false, "code": -1002, "description": "unsupported URL", "didFailProvisionalNavigation": true, "domain": "NSURLErrorDomain", "loading": false, "target": 15, "title": "Sign in", "url": "https://tenant.b2clogin.com/tenant.onmicrosoft.com/custom

[2021-02-24 14:36] sultan-arshi commented on #30
i think the problem is in the redirect uri which in the case of mobile phones is may be have to put in different way
my redirect URI as it can be seen above in URL is `redirect_uri=msauth.bundleID://auth`
am i doing right ?

[2021-02-25 09:25] sultan-arshi commented on #7
@GSingh01 can you please explain what do you mean `dont use the url that is registered in your app for redirect`
if i will not use `redirect_url` which i register on `Azure portal` then i don't get login page and get error
can u please explain it ?

[2021-02-25 12:13] sultan-arshi commented on #30
no help found from owner. anyhow, what i did
just go to your azure portal => in your application => Authentication => `+ Add a platform` => `mobile and desktop application` => check (select) all the check mark available (in my case there were two) => configure => use this redirect URI (one of them will work)

[2021-02-26 06:30] GSingh01 commented on #7
@sultan-arshi the redirect you specify in LoginView needs to be unique and register the same in azure portal too.
What the above comment says is that your app's linking url should not be used as redirectUrl in loginView or in Azure portal.

Comeup with any unique url to put in RedirectURL prop of LoginView and the use the same in Azure portal

[2021-02-26 06:30] #7 closed

[2021-02-26 06:31] GSingh01 commented on #32
where are you having this error. Is it in your solution or it related to this library?

[2021-02-26 06:33] GSingh01 commented on #30
in scope prop you are passing object whereas in readme it is space separated string. Carefully check

[2021-02-26 06:37] GSingh01 commented on #29
Thanks for the info. Bit busy but will check what's happening there when get some time but ya if this workaround works, then in the mean time this is good.
Also welcome to create PR as well.

[2021-02-26 06:37] #27 closed

[2021-02-26 06:38] #24 closed

[2021-02-26 06:39] #25 closed

[2021-02-26 06:41] GSingh01 commented on #26
feel free to create PR for above and will be happy to review

[2021-02-26 06:41] #29 closed

[2021-02-26 11:13] sultan-arshi commented on #30
i have solved the problem
the problem was redirect URI which i mentioned above

[2021-02-26 11:13] #30 closed

[2021-03-31 06:26] potatoengineer opened #36 "redirect url"
@GSingh01 Having trouble setting up proper redirect url for when a user completes a password reset. Deep linking to previous screen isn't working & localhost ends up with error.
[code]

[2021-04-05 18:07] sambeet21 opened #37 "Please update readme file about expo secure store how to pass in login js"
While doing that getting errors

[2021-04-06 18:52] sambeet21 commented on #37
@GSingh01 help please
Can you please tell me how the pass the expo async storage.. I tried but not working can you please provide some sample code ...

[2021-04-07 13:05] sambeet21 opened #38 "Once the app is cleared from the activity drawer it again ask for password to login please help"
@GSingh01 please help

[2021-04-07 14:44] #38 closed

[2021-04-07 14:44] #37 closed

[2021-04-13 03:34] bhirave opened #39 "Question - Password Change Support"
If user already logged into app, password change is indeed. Does library support "Password Change" for logged in User ? any advise

[2021-05-10 04:01] chasexd opened #41 "I'm having a error loading page"
Encountered an error loading page, Object {
  "canGoBack": false,
  "canGoForward": false,
  "code": -1202,
  "description": "The certificate for this server is invalid. You might be connecting to a server that is pretending to be “dekarbonize.onmicrosoft.com.b2clogin.com” which could put your confidential information at risk.",
  "didFailProvisionalNavigation": true,
  "domain": "NSURLErrorDomain

[2021-05-12 07:13] aapa96 opened #44 "Error Login view"
Return Proof Key for code exchange is required for cross origin authorization code redemption

[2021-05-21 11:38] #41 closed

[2021-06-23 13:38] sambeet21 opened #46 "New Access Token not generating using the Refresh Token"
Hi @GSingh01  I am doing the implementation of azureb2c in an app but the as per your Docs provided in readme the access token will seamlessly generated using the refresh token .. But that currently not happening ... Can you please guide me how to renew a access token before it expires using the refresh token ... [help wanted]

[2021-06-24 02:48] sambeet21 commented on #46
@GSingh01 please help

[2021-07-09 02:35] michaelfsarkis opened #47 "Login using new recommended flow, instead of standard legacy flow"
Hi,
When using standard legacy flow, the system behaves as expected.
However, when using the new recommended login flow, the login page loads, but it does not provide the token upon authentication.
Can you please advise?

Michael

[2021-07-10 04:31] GSingh01 commented on #47
havenot checked yet, been off for a while from project. will try to look into

[2021-07-10 04:34] GSingh01 commented on #46
make sure you use correct scope, `openid offline_access` are required.

[2021-07-10 04:37] GSingh01 commented on #44
Please check if your URLs are correct and make sure the type is mobile not desktop when creating b2c application in azure. If still having issue, provide more info

[2021-07-10 04:40] GSingh01 commented on #39
should be possible by directly calling MS reset password link but library does support it out of the box though

[2021-07-10 04:43] GSingh01 commented on #39
@bhirave ADService.js expose getPasswordResetURI which can be used to create link

[2021-07-10 04:48] GSingh01 commented on #36
make sure the reset link doesnot match with actual app redirect url. Please check existing closed issue here: https://github.com/GSingh01/ad-b2c-react-native/issues/11

[2021-07-10 04:48] #32 closed

[2021-07-10 05:00] GSingh01 commented on #47
Based on docs looks like the base url format for recommended(v2) flow is updated, so we need to update library to support it.

[2021-07-12 02:42] michaelfsarkis commented on #47
Thanks for your response Singh. And welcome back !
Do you have an ETA as to when you will get the updated library?

Thanks

[2021-07-21 04:49] GSingh01 commented on #47
@michaelfsarkis currently bit busy with other work but have plans to overhaul the library by end of year including typescript support. In the mean time PRs are welcome.
Thanks

[2021-07-21 04:50] #46 closed

[2021-07-21 04:50] #44 closed

[2021-07-21 04:50] #39 closed

[2021-07-21 04:50] #36 closed

[2021-07-21 04:50] #26 closed

[2021-09-22 10:21] michaelfsarkis commented on #47
Hi @GSingh01 , Any updates on this issue?

[2021-10-06 11:30] daviddm opened #51 "toString on undefined"
https://github.com/GSingh01/ad-b2c-react-native/blob/7abcd7774e8636658b370b4c189d82eea85488ae/src/ADService.js#L151

If the response does not return a `expires_on` this will throw an error.

Can we remove the `toString()` or add undefined checks?

[2021-10-06 17:59] askpatrickw opened #52 "Question: Does this library support SignUp with email\password as well as Forgot password?"
I didn't find "signup" or "forgot" in the code and wanted to verify.

[2021-10-31 06:16] GSingh01 commented on #52
yes, it does support it

[2021-10-31 06:20] GSingh01 commented on #47
@michaelfsarkis I am working on new major update to lib, targeting is to release by EOY.

[2021-12-01 09:32] michaelfsarkis commented on #47
@GSingh01 Fantastic news. I hope you are having a good progress there

[2021-12-14 04:22] MadhavNasit commented on #37
@sambeet21 Did you manage to resolve it? please let me know the process.

[2021-12-16 13:36] sdinesmvc opened #53 "this library supports identity server 4 for react native projects"
this library supports identity server 4 for react native projects?

[2022-01-01 04:50] GSingh01 commented on #53
Strictly for Azure AD B2C not identity server. Thanks

[2022-01-01 04:50] #53 closed

[2022-01-01 04:52] GSingh01 commented on #51
expires_on should always be set and is an int value, why would toString() would throw?

[2022-01-01 04:55] GSingh01 commented on #47
@michaelfsarkis just an update wont be able to release by EOY 2021 but hopefully in Jan 2022. But insight that it will switch to use custom tabs based browser instead of webview and will be typescripted

[2022-01-01 04:59] #52 closed

[2022-01-01 04:59] #51 closed

[2022-01-19 03:13] Hammad430 opened #54 "Unsupported URL error"
@GSingh01 Hi, I am new to react native development and trying to use your library for a project. Following the instructions in readme, I am able to get the login page for my azure b2c app. However, after entering the login details, I get the the unsupported URL error. Not sure what could be the problem here. I would really appreciate your help.

[2022-02-03 13:47] rushabhOrdex opened #55 "Error: LoginView(...): Nothing was returned from render."
I am using this library to implement the Login functionality for azure-ad-b2c. I have added the <LoginView> according to mentioned in the documentation and added all the properties of <LoginView>.

Here is my dependencies list:-
[code]
I implemented <LoginView> by following code:-

[code]

After running the app I am getting following error every-time.

Error: LoginView(...): Nothing was returned f

[2022-03-14 02:03] michaelfsarkis commented on #47
Hi @GSingh01, Any updates on this issue?

[2022-06-17 19:18] charlestbell commented on #30
@sultan-arshi What exactly did you change?

[2022-06-19 14:59] charlestbell commented on #55
Hi @rushabhOrdex,

I had a similar issue, and the problem was that I was taking variables imported from @env, and was using them directly. This unfortunately doesn't work. You have to assign them to a variable in the file first, before using them.

Try `console.log(TENENT)` and you will likely get undefined.

Instead, assign it to a variable first:
`const tenent = TENENT
console.log(tenent)`

And

[2022-06-19 15:02] charlestbell commented on #47
@michaelfsarkis,

This may help: https://stackoverflow.com/a/67031342/14116068

[2022-06-27 04:38] #55 closed

[2022-06-27 04:39] GSingh01 commented on #54
@Hammad430 new version of package is published let me know if that is easy to follow

[2022-06-27 04:39] #54 closed

[2022-06-27 04:40] GSingh01 commented on #47
@michaelfsarkis a new version is pushed please give it a try and feel free to create new issue if required

[2022-06-27 04:40] #47 closed

[2022-06-27 04:41] GSingh01 commented on #14
@nmehlei new version is released with typescript

[2022-06-27 04:41] #14 closed

[2022-06-27 04:42] GSingh01 commented on #20
@nmehlei new version of library is released which uses expo-web-browser and that should handle this flow.

[2022-06-27 04:42] #20 closed

[2022-07-08 14:33] mikep498 opened #65 "Brokered authentication"
Hey, does the library support broker authentication through Microsoft Authenticator or is it just a WebView? Thanks

[2022-07-08 22:41] GSingh01 commented on #65
@mikep498 The library supports AD B2C and the new version doesn't use webview instead uses expo-web-browser. If you wish to use webview, please use 1.x(obsolete now)

[2022-07-08 22:41] #65 closed

[2022-07-16 21:00] GSingh01 commented on #65
@mikep498 The configuration lives in Azure B2C and this library should support all standard flows including SSO. More info: https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow
Hope this answers it

[2022-09-09 06:45] harika-nammi opened #68 "expo-linking needs access to the expo-constants"
Hi all,

I am using this module to implement in react-native app. I have installed **expo-linking, expo-constants, expo-modules-core, expo-web-browser** modules for supporting. But i am getting error `ERROR  Error: expo-linking needs access to the expo-constants manifest (app.json or app.config.js) to determine what URI scheme to use. Setup the manifest and rebuild: https://github.com/expo/expo/bl

[2022-10-07 02:48] timduncan-innowell opened #69 "Not getting access token"
Hi,

After downloading the b2c-sample application and making config changes for my B2C tenant, I cannot get an access token back from getTokensAsync().

Here is my config:
[code]
I correctly get the B2C hosted signin page after clicking the LOGIN button. After entering a correct user name and password the Protected page displays "Could not authenticate".

What I do get from getTokensAsync() is:
[c

[2022-10-07 08:42] harika-nammi commented on #69
hi @timduncan-innowell, i am also facing the same issue. Did you fix this?

[2022-10-09 12:09] MuhammadSaadTabani commented on #69
Facing the same issue, I ask from community developers to kindly help with the solution. Thank you

[2022-10-09 19:15] GSingh01 commented on #69
@timduncan-innowell to me it looks like you are not being redirected to correct link for your app. Can you please put a breakpoint or console.log at https://github.com/GSingh01/ad-b2c-react-native/blob/8327ea34ed4452c1b5a1279a6e42b76cf1ae56f3/packages/b2c-sample/App.tsx#L31 to read the value of `Linking.createURL("redirect")` and  this is what you need to put in Azure ad b2c redirect url config fo

[2022-10-09 19:17] GSingh01 commented on #68
The error you are getting is basically saying you are missing app config file. Sample file: https://github.com/GSingh01/ad-b2c-react-native/blob/master/packages/b2c-sample/app.json

[2022-10-09 19:59] MuhammadSaadTabani commented on #69
Everything is working correctly, we are able to signin, but not getting access token. we are getting error:null and isAuthentic false.

[2022-10-09 20:09] GSingh01 commented on #69
@MuhammadSaadTabani there are 2 parts to it
1. Making request to load Login screen
2. Loading the application and authenticating after receiving redirect from ad b2c

When you refer everything is working my guess is you are referring to number 1 but unless number 2 is done you wont be authenticated.

To make sure you can put a breakpoint at redirect route and double check if it ever gets hit, if n

[2022-10-09 21:32] MuhammadSaadTabani commented on #69
Yeah I am facing the following issues, kindly have a look at.

1. when I am using Liking.createURI('<my-redirect-uri>'), I am getting the following response and couldn't see the login page from azure auth.

[code]
2.  When I am passing redirect uri direct string to redirectURI prop, I am able to see the login page and easily sign in to the application, but I am not getting access-token in the reps

[2022-10-10 05:18] timduncan-innowell commented on #69
@GSingh01 ,

Thanks for responding.

My current redirectURI `msauth://com.myapp/<signature_hash>` was configured from adding an Android platform (other options are Web, Single-page application, iOS / macOS, Mobile and desktop applications). Is Android the right platform for a React Native application?

Now, looking at the expo Linking documentation as you suggested I see this example value when ru

[2022-11-14 16:37] bjs0008 opened #72 "Getting Access Token in Android but not Ios"
Hi, I've built in app in Expo so using expo go client on my Iphone to view and troubleshoot errors.  When I troubleshoot Android, using Android Studio to run.  I'm able to authenticate and use the Token in Android; however, when I run in Ios the Token is not returned.

I've set the Azure redirect uri to the recommended setting, http://localip:19000/--/redirect.  Again, works in Android but not in

[2022-11-30 14:46] barltokk commented on #72
I'm also having this exact same issue.  Have you found a solution?

[2022-11-30 16:35] kerrpeter opened #74 "B2C sign in, web browser not dismissed"
I am calling getTokensAsync and then it redirects and display B2C login.
But after logging, (and handleing the deep link to redirect) the web browser window is not dismissed, and so still open in the background.
When I try to logout/in again a second time, it does not work.
Should the browser window not be closed and if so where is this handled.
Thanks